<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/static/style/style.css" type="text/css">
    <link rel='shortcut icon' type='image/x-icon' href='/static/images/favicon.ico'/>
    <script src="/client/app.js" type="module"></script>
    <script>
      /*to prevent Firefox FOUC, this must be here*/
      let FF_FOUC_FIX;
    </script>
</head>

<body>

<header>

        <img class="logo" src="/static/images/logo.png">
        <nav>
            <ul>
                <li><a href="/">Buy</a></li>
                <li><a href="/create">Sell</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>

</header>

<div class="container">
    <main id="main">
        {{{body}}}
    </main>
</div>
<footer>@Carbicle: Exercise for Express.js and Handlebars</footer>
</body>

</html>