<h1>Create</h1>
<div class="form">
    <form action='/create' method="post" enctype="multipart/form-data">
        <input placeholder="Price" class="create" type="text" id="name" name="name">
        <textarea placeholder="Description" class="create" id="name" name="description"></textarea>
        <input placeholder="Price" class="create" type="number" id="price" name="price">
        <input class="create" type="file" id="imageUrl" name="imageUrl">
        <input class="create" type="submit" value="Create">
    </form>
</div>