<h1>Register Form</h1>

    <form action="/register" method="POST" enctype="multipart/form-data">
        <label for="username"></label>
        <input class="register" type="text" id="username" name="username" placeholder="Username">

        <label for="password"></label>
        <input class="register" type="password" id="password" name="password" placeholder="Password">

        <label for="repeatPassword"></label>
        <input class="register" type="password" id="repeatPassword" name="rePassword" placeholder="Repeat Password">
        <input class="register" type="submit" value="Register">
    </form>
